.profile-menu {
  position: absolute;
  top: 50px;
  right: 20px; 
  width: 33vw;
  max-width: 400px;
  background-color: #f5f5f5; 
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 32px 16px;
  text-align: center;
  z-index: 100;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}


.profile-menu .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.profile-menu .username {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 16px;
  color: black;
}


.profile-menu .hello {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 18px;
  color: black;
}

.profile-menu .logout-btn {
  background-color:white;
  color: black;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.profile-menu .logout-btn:hover {
  background-color: #757575; 
}



.profile-menu .avatar {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: 2px solid #f5f5f5;

}

.profile-menu.dark {
  background-color: #1e1e1e;
  border: 1px solid #444;
  color: #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.profile-menu.dark .username,
.profile-menu.dark .hello {
  color: #ddd;
}

.profile-menu.dark .logout-btn {
  background-color: #333;
  color: #ddd;
}

.profile-menu.dark .logout-btn:hover {
  background-color: #555;
}

.profile-menu.dark .avatar {
  border: 2px solid #333;
}
.profile-menu.dark .close-btn {
  color: #fff;
}


